<html>
<head lang="en">

	<title>Aaron Kaloti</title>

  	<meta charset="utf-8">
  	<meta name="viewport"
    	content="width=device-width, initial-scale=1">

	<!-- Bootstrap's CSS part -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Bootstrap's JS part -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

	<!-- My own included files -->
	<link rel="stylesheet" href="stylesheets/index.css" />
	<script src="javascripts/app.js"></script>

</head>
<body data-ng-app="personalWebpage" data-ng-cloak>
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-bottom main-page-major-element">
		<div class="container-fluid">
			<div class="navbar-header">
      			<a class="navbar-brand" href="#/home#about-me-panel">About Me</a>

				<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target="#my-navbar">
					<!-- The bars in the button's icon -->
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>

			</div>
			<div class="collapse navbar-collapse" id="my-navbar">
				<ul class="nav navbar-nav" id="navbar-unordered-list">
					<li><a href="#/home#work-experience-panel">Experience</a></li>
					<li><a href="#/home#projects-panel">Personal Projects</a></li>
					<li><a href="#/home#class-projects-panel">Group Projects</a></li>
					<li><a href="#/home#research-panel">Research</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<ui-view></ui-view>

	<script type="text/ng-template" id="/home.html">
		<div id="about-me-panel" class="panel panel-default main-page-major-element">
			<div class="panel-body">
				<h1 class="centered-text heading-for-panel">
				About Me</h1>
			</div>
			<div class="panel-body">
				<!-- This panel has subpanels using the grid system -->
				<div class="row">

					<!-- Picture and name panel -->
					<div class="col-sm-6 col-sm-offset-1
						panel panel-default" id="me-panel">
						<div class="panel-body">
							<!-- Image of Aaron Kaloti (me) -->
							<img src="images/aaron-kaloti.JPG"
								class="img-circle img-responsive
									centered-element"
								alt="Picture of Aaron Kaloti"
								height="100" width="100" />

							<div class="centered-text"><h3><b>Aaron Kaloti</b></h3></div>

							<div class="centered-text"><b>Current:</b>
							Software Security Engineer, GPU Cloud Intern at NVIDIA</div>

							<div class="centered-text"><b>Education:</b>
							MS in Computer Science at UC Davis by June 2020</div>

							<div class="centered-text"><b>Objective:</b>
							Seeking full-time position</div>

							<div class="centered-text"><b>Email:</b> aarons [dot]
								7007 [at] gmail [dot] com</div>
						</div>
					</div>

					<!-- Links panel -->
					<div class="col-sm-3 col-sm-offset-1
						panel panel-default" id="links-panel">
						<div class="panel-body">
							<div class="list-group">
								<!-- Resume link -->
								<a href="documents/resume.pdf"
									class="list-group-item link">
									Resume
									(Updated: 08/06/2019)
								</a>
								<br />

								<!-- GitHub link -->
								<a href="https://github.com/akaloti"
									class="list-group-item link">
									GitHub
								</a>
								<br />

								<!-- LinkedIn link -->
								<a href="https://www.linkedin.com/in/aaron-kaloti"
									class="list-group-item link">
									LinkedIn
								</a>
							</div>
						</div>
					</div>

					<!-- To create right margin for above panel -->
					<div class="col-sm-0 col-sm-offset-1">
					</div>
				</div>
			</div>
		</div>

		<!-- Work experience -->
		<div id="work-experience-panel" class="panel panel-default main-page-major-element">
			<div class="panel-body">
				<h1 class="centered-text heading-for-panel">
				Work Experience</h1>
			</div>

			<div class="scrolling-within-panel panel-body">
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-9">
								<b>Role: <i>Software Security Engineer, GPU Cloud Intern</i></b> at <b>NVIDIA</b>
								<br />
								<b>When:</b> June 2019 - September 2019
								<br />
								<ul class="inner-panel-content">
									<li>Implemented, deployed, and monitored performance of security monitor for private cloud data center and associated jump servers.</li>
									<li>Used osquery to gather data and crontabs to preprocess/correlate data before sending it to Graylog (extractors, dashboards) for log visualization/analytics regarding file integrity, network activity, user activity, packages, etc.</li>
								</ul>
							</div>
							<div class="col-sm-3">
								<img src="images/nvidia-logo.jpg"
									class="img-responsive centered-element"
									alt="NVIDIA Logo" />
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-9">
								<b>Role: <i>Software Engineering, Tools and Infrastructure Intern</i></b> at <b>Google</b>
								<br />
								<b>When:</b> June - September 2017
								<br />
								<ul class="inner-panel-content">
									<li>Implemented an A/B test framework to flag code changes that would crash or significantly alter the output of a pipeline of client advertisement information received by a policy review decisions system.</li>
									<li>Used C++ and cluster management tools, as well as database, protocol buffer, client/server, RPC, and publisher/subscriber APIs.</li>
								</ul>
							</div>
							<div class="col-sm-3">
								<img src="images/google-logo.jpg"
									class="img-responsive centered-element"
									alt="Google Logo"
									height="450" width="300" />
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-9">
								<b>Role: <i>IT Assistant</i></b> at <b>ASUCD Unitrans</b>
								<br />
								<b>When:</b> June - September 2016
								<br />
								<ul class="inner-panel-content">
									<li>Worked on website with Python, Django, and JavaScript.</li>
									<li>Performed a few minor bug fixes and improvements throughout the website used by shift managers to assign shifts to bus drivers and manage employee data. Wrote additional unit tests.</li>
								</ul>
							</div>
							<div class="col-sm-3">
								<img src="images/asucd-unitrans-logo.jpeg"
									class="img-responsive centered-element"
									alt="ASUCD Unitrans Logo"
									height="300" width="300" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Work experience -->

		<!-- Project previews -->
		<div id="projects-panel" class="panel panel-default main-page-major-element">
			<div class="panel-body">
				<h1 class="centered-text heading-for-panel">13 Personal Projects</h1>
			</div>

			<div class="scrolling-within-panel panel-body">
				<div data-ng-repeat="ppd in projectPanelData"
					class="panel panel-default project
						{{ ppd.bigProjectStatus }}">
				<div class="panel-body">

					<div class="row">
						<div class="col-sm-6">
							<h4><b>{{ ppd.name }}</b>,
								{{ ppd.dateRangeStr }}</h4>

							<span data-ng-if="ppd.githubLink != NO_GITHUB_REPO">
								<a href="{{ ppd.githubLink }}">
								GitHub Repository</a></span><br />

							<span><b>Programming language(s):</b>
							{{ ppd.programmingLanguagesStr }}</span><br />

							<span data-ng-if="ppd.testingFramework != NO_TEST_FRAMEWORK">
								<b>Testing framework:</b>
								{{ ppd.testingFramework }}<br /></span>

							<span><b>Other languages/software used:</b>
							{{ ppd.otherLanguagesOrSoftwareStr }}</span><br />

							<span data-ng-if="ppd.funNote">
								<br />
								<b>Fun note:</b> {{ ppd.funNote }}
							</span>

							<span data-ng-if="ppd.biggestChallenge">
								<br />
								<b>Biggest challenge:</b>
								{{ ppd.biggestChallenge }}
							</span>

							<span data-ng-if="ppd.biggestRegret">
								<br />
								<b>Biggest regret:</b> {{ ppd.biggestRegret }}
							</span>
						</div>
						<div class="col-sm-6">
							<img src="{{ ppd.imageData.src }}"
								class="img-responsive centered-element
									project-panel-image"
								alt="Game Picture"
								width="{{ ppd.imageData.width }}"
								height="{{ ppd.imageData.height }}" />
						</div>
					</div>
				</div>
				</div>
			</div>
		</div> <!-- Project previews -->

		<!-- Class projects -->
		<div id="class-projects-panel" class="panel panel-default main-page-major-element">
			<div class="panel-body">
				<h1 class="centered-text heading-for-panel">
				Group Projects</h1>
			</div>

			<div class="scrolling-within-panel panel-body">
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Anomaly-Based Network Intrusion Detection System</i></u></b>
						<br />
						<b>When:</b> May 2019
						<br />
						<b>Team Size:</b> 3
						<ul class="inner-panel-content">
							<li>Implemented basic network anomaly-based IDS to classify network traffic (read from pcap files) as anomalous or typical.</li>
							<li>Can classify behavior either by packet or by sliding window (clumps) of packets.
							<li>Used Python, scapy, scikit, and JSON.</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Peer-to-Peer Distributed File System</i></u></b>
						<br />
						<b>When:</b> January - March 2019
						<br />
						<b>Team Size:</b> 3
						<ul class="inner-panel-content">
							<li>Implemented basic peer-to-peer distributed file system using Python and Docker.</li>
							<li>Helped implement the Chord distributed lookup protocol for load balancing and basic fault tolerance.</li>
							<li>Experimented with Raft consensus algorithm to support conflicting writes and improve fault tolerance.</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Website for Fictional Warcraft Desktop Game</i></u></b>
						<br />
						<b>When:</b> January - March 2017
						<br />
						<b>Team Size:</b> 8
						<ul class="inner-panel-content">
							<li>Implemented website to manage user profiles, game scores/data, forums, and game maps.</li>
							<li>Coordinated with several other groups (working on different aspects of the fictional Warcraft desktop game).</li>
							<li>Used Python, Django, JavaScript, HTML/CSS, and Git for full-stack web development.</li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!-- class projects -->

		<!-- research -->
		<div id="research-panel" class="panel panel-default main-page-major-element">
			<div class="panel-body">
				<h1 class="centered-text heading-for-panel">
				Research Projects (at UC Davis)</h1>
			</div>

			<div class="scrolling-within-panel panel-body">
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Effect of IP Address Anonymization on the Bro Intrusion Detection System</i></u></b>
						<br />
						<b>When:</b> Fall 2018
						<ul class="inner-panel-content">
							<li>On each of selected pcap files, compared the analysis of the Bro IDS on the original pcap file, the black-marker anonymized one (created with tcpurify), and the prefix-preserving anonymized one (created with ipsumdump).</li>
							<li>Wrote Python scripts to help analyze the results.</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Applied Persian digit classification approach to English digits.</i></u></b>
						<br />
						<b>When:</b> August 2018
						<ul class="inner-panel-content">
							<li>Extended a published Persian digit classification approach to improve its classification of English digits. The original approach formed the feature vector after breaking the image (of the digit) into two horizontal boxes and one vertical box. I modified this approach to make the number of horizontal and vertical boxes into parameters and sought the optimal parameters.</li>
							<li>Used one-vs-all logistic regression for classification.</li>
							<li>Tested on MNIST digits data set.</li>
							<li>Source code: <a href="https://github.com/matloff/imagefraud/blob/second-set/digitRecognition/secondSet.R">here</a></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default inner-panel">
					<div class="panel-body">
						<b>Project: <u><i>Small R Debugger</i></u></b>
						<br />
						<b>When:</b> October 2017 - March 2018
						<ul class="inner-panel-content">
							<li>Contributed features and improvements to a small R debugger.</li>
							<li>First translated the debugger from Python to R, then improved the usability of the tool and researched ways to make the tool more friendly/approachable to beginners.</li>
							<li>Source code: <a href="https://github.com/matloff/debugR">here</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!-- research -->
	</script> <!-- template: home.html -->
</div>
</body>
</html>
