body {
    background-color: #89807E;
}

.centered-element {
    margin: auto;
}

.centered-text {
    text-align: center;
}

.main-page-major-element, .panel.leadership-panel {
    border: 5px solid #4D423F;
    background-color: #1F1C1C;
}

/* For the wrap-around of the panels that have the actual content */
.scrolling-within-panel {
	overflow: scroll;
	height: 500px;
}

/* For a project panel of a big project */
/*
.panel.big-project {
    background-color: #CBADA8;
}
*/

.panel.project, .panel.inner-panel, .panel#me-panel, .panel#links-panel,
    .panel.leadership-inner-panel {
    border: 10px solid #4D423F;
    background-color: #CBADA8;
}

/* This class has an awkward name so as to avoid
    colliding with Boostrap's .panel-header */
.heading-for-panel {
    border: 10px solid #4D423F;
    background-color: #CBADA8;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

.panel-heading-background-override {
    background-color: #CBADA8;
}

div.main-page-major-element.panel.panel-default > div.panel-body:first-child {
    border-bottom: 5px solid #4D423F;
}

div.list-group .link {
    border: 5px solid #4D423F;
    background-color: #B79898;
}

div.list-group .link:hover, div.panel:hover, .heading-for-panel:hover, div#me-panel:hover,
    div#links-panel:hover  {
    border-color: #F7F0F0;
}

div {
    font-size: 16px;
}

a {
    font-weight: bold;
}

img.project-panel-image {
    border: 1px solid black;
}

ul.inner-panel-content {
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #4D423F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-top: 10px;
}